.gridItem1 {
	background-color: #FFEDCD;
}
.gridItem2 {
	background-color: white;
}
.topBar {
	background-color: white;
}
.topBar .logoTopS {
	float: left;
	margin-left: 30px;
}
.topBar .logoTopL {
	float: left;
	margin-left: 58px;
}
.backS {
	float: left;
	margin-top: 25px;
	margin-left: 35px;
}
.backL {
	float: left;
	margin-top: 19px;
	margin-left: 58px;
}

.h1-S h1 {
	font-size: 25px;
	margin-bottom: 28px;
}
.h1-L h1 {
	font-size: 40px;
}

.getStarted-S {
	/* background: rgb(77,123,222);
	background: linear-gradient(90deg, rgba(77,123,222,1) 0%, rgba(132,87,255,1) 100%); */
	color: white;
	border-radius: 15px;
	font-weight: bold;
	border: none;
	cursor: pointer;

	/* new */
	font-family: 'Quantico';
	background: #FF731D;
	width: 143px;
	height: 57px;
	font-size: 18px;
}

.getStarted-L {
	/* background: rgb(77,123,222);
	background: linear-gradient(90deg, rgba(77,123,222,1) 0%, rgba(132,87,255,1) 100%); */
	color: white;
	border-radius: 15px;
	font-weight: bold;
	border: none;
	cursor: pointer;

	/* new */
	font-family: 'Quantico';
	background: #FF731D;
	width: 143px;
	height: 57px;
	font-size: 15px;
	margin-top: 5px;
}

.textfield fieldset {
	box-sizing: border-box;
	/* padding-left: 60px; */
	border: 6px solid #ffb98e;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.0);
	box-shadow: -6px 7px 0px rgba(255,115,29, 1);
}

/* .formLabelS label {
	font-size: 20px;
} */
